<div class="pokemon-list">
  <div class="pokemon-container" *ngFor="let pokemon of pokemons">
    <img
      [src]="pokemon.image"
      alt="Image of {{ pokemon.name }}"
      class="pokemon-image"
    />
    <h2 class="pokemon-name">{{ pokemon.name }}</h2>
    <p class="pokemon-id">#{{ pokemon.id }}</p>

    <ng-container *ngIf="!isCaught(pokemon); else caughtTemplate">
      <button (click)="handleCatchClick(pokemon)">Catch</button>
    </ng-container>

    <ng-template #caughtTemplate>
      <div class="pokeball">
        <img src="assets/small-pokeball-icon-4.jpg" />
      </div>
    </ng-template>
    <button (click)="handleDetailsClick(pokemon)">Details</button>
  </div>
</div>
