<h3>Pokemon list works</h3>
<div class="pagination-container">
  <div class="pagination">
    <a (click)="pageChanged(currentPage - 1)">&laquo;</a>
    <a (click)="pageChanged(0)">1</a>
    <a (click)="pageChanged(1)">2</a>
    <a (click)="pageChanged(2)">3</a>
    <a (click)="pageChanged(3)">4</a>
    <a (click)="pageChanged(4)">5</a>
    <a (click)="pageChanged(5)">6</a>
    <a (click)="pageChanged(currentPage + 1)">&raquo;</a>
  </div>
</div>

<div class="pokemon-list">
    <app-pokemon-list-item *ngFor="let pokemon of pokemons" [pokemon]="pokemon"></app-pokemon-list-item>
</div>

<div class="pagination-container">
  <div class="pagination">
    <a (click)="pageChanged(currentPage - 1)">&laquo;</a>
    <a (click)="pageChanged(0)">1</a>
    <a (click)="pageChanged(1)">2</a>
    <a (click)="pageChanged(2)">3</a>
    <a (click)="pageChanged(3)">4</a>
    <a (click)="pageChanged(4)">5</a>
    <a (click)="pageChanged(5)">6</a>
    <a (click)="pageChanged(currentPage + 1)">&raquo;</a>
  </div>
</div>
