

.user-text{
    color: bisque;
    padding: 10px;
    margin-top: 10px;
}

.profile-text {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: -20px;
}

.button-logout {
    background-color: transparent;
    border: none;
    cursor: pointer; 
}

.delete-button{
    font-size: 15px;
}

.profile-container{
    margin-top: 20px;
}

.pokemon-item {
    padding: 10px;
}

.pokemon-box {
    background-color: bisque;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.pokemon-img {
    width: 120px; 
    animation: floatAnimation 0.5s infinite;
}

.pokemon-img-ball {
    width: 120px;
    animation:  rotateAnimation 4s infinite;
}


@keyframes floatAnimation {
    0%, 100% {
      transform: translateY(0); 
    }

    50% {
      transform: translateY(-10px); 
    }
}

@keyframes rotateAnimation {
    0% {
      transform: rotateY(0deg) rotateX(0deg);
    }
    50% {
      transform: rotateY(180deg) rotateX(-180deg);
    }
    100% {
      transform: rotateY(360deg) rotateX(-360deg);
    }
  }