<div class="pokemon-container">
  <img [src]="pokemon.image" alt="Image of {{ pokemon.name }}" class="pokemon-image"/>
  <p class="pokemon-id">#{{ pokemon.id }}</p>
  <h2 class="pokemon-name">{{ pokemon.name }}</h2>



  <div *ngIf="checkDetailStatus && pokemonDetails">
    <div *ngIf="pokemonDetails && pokemonDetails.types && pokemonDetails.types[0]" class="type-images">
      <img src="https://raw.githubusercontent.com/msikma/pokesprite/master/misc/type-logos/gen8/{{pokemonDetails.types[0].toLowerCase()}}.png" alt="Type image 1" class="type-image" title="{{ pokemonDetails.types[0] }}">
      <img *ngIf="pokemonDetails.types[1]" src="https://raw.githubusercontent.com/msikma/pokesprite/master/misc/type-logos/gen8/{{pokemonDetails.types[1].toLowerCase()}}.png" alt="Type image 1" class="type-image" title="{{pokemonDetails.types[1] }}" >
    </div>
    
        <p class="d-hp">HP:{{  pokemonDetails.hp }}</p>
        <p class="d-attack">ATK:{{ pokemonDetails.attack }}</p>
        <p class="d-defense">DEF:{{ pokemonDetails.defense }}</p>
        <p class="d-height">Height:{{pokemonDetails.height}}</p>
        <p class="d-weight">Weight:{{pokemonDetails.weight}}</p>
        <br><br>
      </div>
      <ng-container *ngIf="!isCaught(pokemon) && !checkDetailStatus">
        <button (click)="handleCatchClick(pokemon)" type="button" class="button">Catch</button>
      </ng-container>
         <div class="pokeball" *ngIf="isCaught(pokemon)">
          <img src="assets/small-pokeball-icon-4.jpg" alt="pokeball"/>
        </div>
      <button *ngIf="!checkDetailStatus" (click)="handleDetailsClick(pokemon)"type="button" class="button">Details</button>
      <button *ngIf="checkDetailStatus" (click)="handleDetailsClick(pokemon)"type="button" class="button">Hide Details</button>
</div>
