.pokemon-container {
  border-radius: 5px;
  position: relative;
  flex: 1 0 21%;
  box-sizing: border-box;
  min-width: 225px;
  min-height: 250px;
  margin: 5%;
  padding: 20px;
  border: 1px solid #000000;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to right, #d4cb92, #e6e1c5);
}
.d-hp {
  position: absolute;
  top: 65%;
  left: 7%;
  font-family: monospace;
}
.d-attack {
  position: absolute;
  top: 65%;
  left: 38%;
  font-family: monospace;
}
.d-defense {
  position: absolute;
  top: 65%;
  left: 70%;
  font-family: monospace;
}
.d-weight {
  position: absolute;
  top: 75%;
  left: 10%;
  font-family: monospace;
}
.d-height {
  position: absolute;
  top: 75%;
  left: 60%;
  font-family: monospace;
}
.pokemon-image {
  width: 130px;
  height: auto;
}
.pokemon-name {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-family: monospace;
}
.pokemon-id {
  font-family: monospace;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  font-size: 15px;
  color: #000000;
  background-color: #d4cb92;
}
h1 {
  text-align: center;
}
.pokeball img {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  margin-top: 8px;
  animation: rotateAnimation 4s linear infinite;
}
.button {
  position: relative;
  border: 1px solid rgb(110, 109, 109);
  color: black;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 30%;
  margin-left: 5%;
  font-size: 12px;
  transition-duration: 0.2s;
  cursor: pointer;
  border-radius: 2px;
  background-color: #d4cb92;
}
.button:hover {
  background-color: #e6e1c5;
}
.pagination-container {
  display: flex;
  justify-content: center;
}
.pagination {
  display: inline-block;
}
.pagination a {
  margin: 5px;
  cursor: pointer;
  font-size: 25px;
  text-align: center;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}
.type-images {
  display: flex;
  justify-content: center;
  align-items: center;
}
.type-image {
  width: 50px;
  height: auto;
  margin: 0 1px;
}
@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
