

<!--Pokemon list item-->
<div class="pokemon-container">
  <img [src]="pokemon.image" alt="Image of {{ pokemon.name }}" class="pokemon-image"/>
  <p class="pokemon-id">#{{ pokemon.id }}</p>

  <p class="pokemon-type">{{ pokemon.types }}</p>
  <h2 class="pokemon-name">{{ pokemon.name }}</h2>


  <div *ngIf="checkDetailStatus && pokemonDetails">
        <p class="d-hp">HP:{{  pokemonDetails.hp }}</p>
        <p class="d-attack">ATK:{{ pokemonDetails.attack }}</p>
        <p class="d-defense">DEF:{{ pokemonDetails.defense }}</p>
        <p class="d-height">Height:{{pokemonDetails.height}}</p>
        <p class="d-weight">Weight:{{pokemonDetails.weight}}</p>
        <br>
      </div>

      <ng-container *ngIf="!isCaught(pokemon) && !checkDetailStatus">
        <button (click)="handleCatchClick(pokemon)" type="button" class="button">Catch</button>
      </ng-container>
         
      
        <div class="pokeball" *ngIf="isCaught(pokemon)">
          <img src="assets/small-pokeball-icon-4.jpg" alt="pokeball"/>
        </div>
     
  
      <button *ngIf="!checkDetailStatus" (click)="handleDetailsClick(pokemon)"type="button" class="button">Details</button>
      <button *ngIf="checkDetailStatus" (click)="handleDetailsClick(pokemon)"type="button" class="button">Hide Details</button>


</div>
